.custom-input{
    background-color: var(--theme);
    color: var(--white);
    /* border: 2px solid var(--purple-grey); */
    outline-style: none;
    border-radius: 0.75rem;
    padding: 1rem;
    font-size: 1rem;
    width: 25vw;
    font-weight: 500;
    margin-bottom: 2rem;
}


.custom-input:focus{
    outline: none;
}

.custom-input:hover{
    background-color: rgb(37, 35, 35);
    width: 26vw;
    color: white;
}
.custom-input::placeholder{
    color: var(--purple-grey);
}

@media screen and (width<=320px) {
    .custom-input{
        width: 100%;
       align-items: center;
    }
}

@media screen and (width<=376px) {
    .custom-input{
        width: 100%;
    }
}

@media screen and (width<=426px) {
    .custom-input{
        width: 100%;
    }
}


